@import '../../styles/utilities'; 

.header {
  display: flex;
  padding: 20px 20px 0 20px;
  color: #f1efef;
  
  @include breakpoint(l){
    padding: 20px 40px 0 40px;
  }
}

.header__left{
  display: flex;
  flex: 2;
  justify-content: space-between;
  align-items: center;
}

.header__right{
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: flex-end;
}

.header__logo img {
  max-width: 50px;
  
  @include breakpoint(l){
    max-width: 100px;
  }
}

.header__title h1 {
  font-size: 17px;
  margin: 0;
  
  @include breakpoint(l){
    font-size: 24px; 
  }
}

.header__auth-buttons {
  display: flex;
}

.header__sign-up-button{
  margin-right: 10px;
}

.header__sign-up-button,
.header__login-button {
  border: 1px solid #9090ffba;
  padding: 9px 0px;
  width: 70px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 9px;
  text-align: center;
  
  @include breakpoint(l){
    padding: 10px 30px;
    width: unset;
    font-size: unset;
    border-radius: 12px;
  }

}


.header__sign-up-button:hover,
.header__login-button:hover {
  /* background-color: #9090ffba; */
  background: linear-gradient(to bottom, #9090ff, #7070cc);
}
