.cart__container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.cart__table-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(2rem);
    border-radius: 9px;
    padding: 40px;
    box-shadow: -10px 9px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 100px;
}

.cart__summary-container{
    width: 22%;
    height: 380px;
    /* padding: 0 10px; */
    background:linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(2rem);
    box-shadow: -10px 9px 20px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
}

.cart__summary-inner{
    height: 205px;
    border-bottom: 1px solid #ffff;
    padding: 20px 50px 20px 50px;
}

.cart__title{
    padding-bottom: 20px;
    font-family: 'Inter-Bold';
}

.cart__summary-tile{
    padding-bottom: 40px;
    font-family: 'Inter-Bold';
}

.cart__summary-final-prices{
    font-family: 'Inter-Regular';
}

.cart__summary-indiv-prices{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
}

.cart__summary-indiv-prices:first-child{
    padding-bottom: 10px;
}

.cart__summary-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.cart__summary-purchase{
    border: none;
    background: green;
    padding: 20px 0;
    width: 100%;
    color: #ffff;
    box-shadow: -10px 9px 20px rgba(0, 0, 0, 0.3);
}